@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
  }
  input{
    border: solid 0.5px #e3e3e3;
  }
  .navBar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .filters{
    border-right: solid 0.5px #e3e3e3;
  }
  .filterOne{
    border-bottom: solid 0.5px #e3e3e3;
  }

  :root {
    --primary-color: #fff;
    --secondary-color: #31708E;
    --text-color: #000;
    --dark-color:#B08401;
    --light-color:#d49e8d;
    --white: #fff;
    --light-grey: #f0f0f0;
    --dark-grey: #000;
    --red: #ff5757;
    --purple: #8c52ff;
    --rating-red:#F16565;
    --rating-yellow:#FCB301;
    --rating-lightgreen:#72BFBC;
    --rating-green:#14958F;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

