@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fff;
    --secondary-color: #31708E;
    --text-color: #000;
    --dark-color:#B08401;
    --light-color:#d49e8d;
    --white: #fff;
    --light-grey: #f0f0f0;
    --dark-grey: #576375;
    --red: #ff5757;
    --purple: #8c52ff;
    /* Add more color variables as needed */
}